<!-- Shopify Card Product Snippet - Recreated for Theme Check Compliance -->
{%- if card_product -%}
  <div class="card-wrapper">
    <div class="card">
      <div class="card__media">
        {%- if card_product.featured_image -%}
          <img src="{{ card_product.featured_image | image_url }}" alt="{{ card_product.title }}">
        {%- else -%}
          <div class="placeholder">{{ 'onboarding.product_title' | t }}</div>
        {%- endif -%}
      </div>
      <div class="card__content">
        <h3>{{ card_product.title }}</h3>
        {%- if show_vendor -%}
          <div>{{ card_product.vendor }}</div>
        {%- endif -%}
        {% render 'price', product: card_product %}
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper">
    <div class="card">
      <div class="card__media">
        <div class="placeholder">{{ 'onboarding.product_title' | t }}</div>
      </div>
      <div class="card__content">
        <h3>{{ 'onboarding.product_title' | t }}</h3>
        {% render 'price', placeholder: true %}
      </div>
    </div>
  </div>
{%- endif -%}
